<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Machine {{inventory_hostname}}</title>
  </head>
  <body>
    <div id="app"></div>
    <p>Cette machine s'appelle {{inventory_hostname}}</p>
    <p>Ci-dessous la liste de ces adresses:</p>
    <ul>
      {% for ip in ansible_all_ipv4_addresses %}
      <li>{{ip}}</li>
      {% endfor %}
    </ul>
  </body>
</html>
